body {
  background: url('Wedding-site-photo.jpg') no-repeat center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}   

#title{
    color: aliceblue;
    text-align: center;
    padding: 40px;
}

.navbar{
    -webkit-text-fill-color: rgb(236, 241, 245);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    word-spacing: 20px;

    padding-bottom: 20px;

}

#wedpar{
    word-spacing: normal;
}

header{
    background-color: #1a2d44be;
    
}

button{
    margin-left: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
    white-space: nowrap;
    padding: 10px;
}

#special{
    background-color: #1a2d44be;
    text-align: center;
    color: aliceblue;
}

footer{
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;

}