body {
  background: url('engage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  font-family: handlee, sans-serif;
  
}   

a{
    color: aliceblue;
}
a:visited{
    color: aliceblue;
}
a:hover{
    color: #c5cbe1;
}
a:active{
    color: #54645dc6;
}

#title{
    color: aliceblue;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 6px 6px 4px #ae6e55;

     
    padding: 100px;
    padding-top: 100px;
    
    margin-top: 0px;
    
}

nav{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 2px #ae6e55;
    text-decoration: none;

    color: aliceblue;
    
    display: flex;
    justify-content: space-evenly;
    
    padding-bottom: 60px;
}


#wedpar{
    word-spacing: normal;

}

header{
    background-color: #54645dc6;
    border: #ae6e55;
    border-style: outset;
    border-width: 10px;
}

button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 10px;

    display: flex;
    justify-content: center;

    white-space: nowrap;
    
    color: aliceblue;
    background-color: #54645dc6;
    text-shadow: 3px 3px 2px #ae6e55;
    font-weight: bold;
    font-family: handlee, sans-serif;



    border: #ae6e55;
    border-style: outset;
    border-width: 5px;
}

button:hover{
    color: #c5cbe1;
}

button:active{
    background-color: #ae6e55;
}

.special{
    background-color: #54645dd1;
    text-align: center;
    color: aliceblue;
    margin-bottom: 0;
    
    border: #ae6e55;
    border-style: outset;
    border-width: 10px;

    padding-bottom: 20px;
    padding-top: 20px;
}

#h3spec{
    text-shadow: 3px 3px 2px #ae6e55;
}

#contact{
    color: #ae6e55;
    font-weight: bold;   
}

.link#contact{
    color: aliceblue;
}
.link#contact:active{
    color: #54645dc6;
}

#contact:hover{
    color: #c5cbe1;
}

#contact:active{
    color: #54645dc6;
}

#contact-header{
    color: aliceblue;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 6px 6px 4px #ae6e55;

     
    padding: 100px;
    padding-top: 100px;
    
    margin-top: 0px;
}
