body {
  background: url('engage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}   

#title{
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    
    padding: 40px;
    padding-top: 100px;
    
    margin-top: 0px;
    
}

.navbar{
    -webkit-text-fill-color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
    display: flex;
    justify-content: space-evenly;
    
    padding-bottom: 60px;

}

a{
    text-decoration: none;

}

#wedpar{
    word-spacing: normal;
}

header{
    background-color: #54645dc6;
}

button{
    margin-left: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 10px;

    white-space: nowrap;
    
    background-color: #c5cbe1;
}

#special{
    background-color: #54645dd1;
    text-align: center;
    color: aliceblue;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

#contact{
    color: burlywood;
    background-color: ;
}

